SUNGROW_HOST=https://gateway.isolarcloud.eu
SUNGROW_APPKEY=
SUNGROW_SECRET=
SUNGROW_USER=
SUNGROW_PASSWORD=
# Uygulamada encryption aciksa portaldaki RSA public key (tek satir)
SUNGROW_RSA_PUBLIC=
AESUN_DB=aesun_sungrow.db
POLL_SECONDS=300
